// 그리드 변수
$grid-columns: 12;
$grid-gutter-width: 1rem;
// mobile 그리드 수 변경
$mobile-grid-columns: 4;
$tablet-grid-columns: 8;

// break point 
$grid-breakpoints: (
  mobile: 0,
  tablet: 768px,
  pc: 1200px
);

// mixins
@mixin mobile {
    @media (min-width: map-get($grid-breakpoints, mobile)) {
        @content;   
    }
}
@mixin tablet {
    @media (min-width: map-get($grid-breakpoints, tablet)) {
        @content;
    }
}
@mixin pc {
    @media (min-width: map-get($grid-breakpoints, pc)) {
        @content;
    }
}

@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin col-flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@mixin col-size($size:auto) {
    -webkit-box-flex: 0 0 $size;
    -webkit-flex: 0 0 $size;
    -ms-flex: 0 0 $size;
    flex: 0 0 $size;
}

html, body {
    margin: 0;
    font-size: 62.5%; // default: 10px
    color: #333;
}

body {
    display: flex;
    justify-content: center;
}

// ---------------------------------- test 
// row 에 적용
.grid-gutters {
    margin: -1*$grid-gutter-width 0 $grid-gutter-width -1*$grid-gutter-width;
}

.grid-container {
    .row {
        @include flexbox;
        @include flex-wrap;
        padding: 0;
        
        .col {
            @include flexbox;
            @include col-flex;
            // gutter
            padding: $grid-gutter-width 0 0 $grid-gutter-width;
            
        }
        @for $i from 1 to $grid-columns + 1 {
            .col-#{$i} {
                @include flexbox;
                padding: $grid-gutter-width 0 0 $grid-gutter-width;
                @include col-size($i * calc(100% / $grid-columns));
            }
        }
    }
}

// ----------------------------------

// 개선
.fix-grid-container {
    position: relative;
    .row, .grid-guide {
        @include flexbox;
        @include flex-wrap;
        margin: -$grid-gutter-width 0 $grid-gutter-width (-$grid-gutter-width);
        padding: 0;
        .col {
            @include flexbox;
            @include col-flex;
            padding: $grid-gutter-width 0 0 $grid-gutter-width;  
            box-sizing: border-box;
        }

        @include mobile {
            @for $i from 1 to $mobile-grid-columns + 1 {
                .col-mobile-#{$i} {
                    @include flexbox;
                    padding: $grid-gutter-width 0 0 $grid-gutter-width;
                    box-sizing: border-box;
                    @include col-size($i * calc(100% / $mobile-grid-columns));
                }
            }
        }
        @include tablet {
            @for $i from 1 to $tablet-grid-columns + 1 {
                .col-tablet-#{$i} {
                    @include flexbox;
                    padding: $grid-gutter-width 0 0 $grid-gutter-width;
                    box-sizing: border-box;
                    @include col-size($i * calc(100% / $tablet-grid-columns));
                }
            }
        }

        @include pc {
            @for $i from 1 to $grid-columns + 1 {
                .col-#{$i} {
                    @include flexbox;
                    padding: $grid-gutter-width 0 0 $grid-gutter-width;
                    box-sizing: border-box;
                    @include col-size($i * calc(100% / $grid-columns));
                }
            }   
        }

    }

    // 가이드 표시용
    .row {
        * {
            z-index: 1;
        }
    }
    .grid-guide {
        position: absolute;
        top: $grid-gutter-width;
        left: 0;
        width: calc(100% + $grid-gutter-width);
        .col {
            > div { 
                border: 1px solid red; 
                width: 100%;
                height: 15rem; 
            }
        }

        @include mobile {
            .col {
                @include col-size(calc(100% / $mobile-grid-columns));
            }
        }
        
        @include tablet {
            .col {
                @include col-size(calc(100% / $tablet-grid-columns));
            }
        }

        @include pc {
            .col {
                @include col-size(calc(100% / $grid-columns));
            }
        }
    }
}


.bg-white {
    width: 100%;
    background: #eee;
}

.text-center {
    text-align: center;
}

// layouts
.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    @include pc {
        width: 1000px;
    }
    .header {
        flex: 0 0 10rem;
        background: #f29b97;
        font-size: 3rem;
        font-weight: 500;
        @include pc {
            flex: 0 0 15rem;
            font-size: 5rem;
        }
    }
    .main {
        flex: 1 0 auto;
        font-size: 1.6rem;
        background: #f2c997;
        @include pc {
            font-size: 1.4rem;
        }
    }
    .footer {
        flex: 0 0 5rem;
        background: #f297c1;
        font-size: 1.2rem;
        @include pc {
            flex: 0 0 6rem;
        }
    }
}


